.hidden {display: none}

.nav-bar{
    display: flex;
    align-items: center;
}

#nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 20px;
}

#homeButton{
    color: black;
    font-size:45px;
}

.profile-dropdown {
    position: absolute;
    top: 10%; /* Adjusted to match the height of #profileButton */
    right: 0; /* Changed to right: 0 to align with the profile button */
    background-color: #f9f9f9;
    border: 3px solid #423d3d;
    border-radius: 7%;
    padding: 20px;
    width: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-dropdown.show {
    /* width: 100px; */
    display: block;
    margin-right: 25px;
}

.nav-list-link {
    display: flex;
    list-style: none;   
    justify-content: center;

    /* gap: 5px; gap will add 5px around everything and will push header left*/
}

#home-button-image{
    display: block;
}

#header{
    font-size: 40px;
}

#nav-create-spot {
    display: flex;
    align-items: center;
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.nav-profile-pic{
    position: relative;
    display: flex;
    align-self: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

#profileButton:hover {
    cursor: pointer;
}

.profile-pic-image{
    height: 30px;
    width: 30px;
    color: black;
}

.logged-in {
    list-style: none;
}

.profile-buttons {
    border: none;
    margin: 3px 0px;
    background-color: transparent;
    font-size: 15px;
}
